In [1]:
import pandas as pd

In [7]:
# read csv
df = pd.read_csv('soggetto_1.csv')
df

,SIGMA,TrRi,RiTr,Plu,Ttra,Ttrb,Tr,MeTr,MoTr,RiRi,MoFo,Mmof,MoRi,MeRi,Ri,Comp
0,0.21,0.1,0.1,0.1,0,0.51,0.1,0.41,0,0,0,0,0,0.50,0.1,0.75
1,0.16,0.1,0.1,0.1,0,0.53,0.1,0.54,0,0,0,0,0,0.54,0.1,0.79
2,0.14,0.1,0.1,0.1,0,0.56,0.1,0.54,0,0,0,0,0,0.55,0.1,0.80
3,0.20,0.1,0.1,0.1,0,0.52,0.1,0.41,0,0,0,0,0,0.53,0.1,0.76
4,0.27,0.1,0.1,0.1,0,0.25,0.1,0.54,0,0,0,0,0,0.24,0.1,0.69
5,0.25,0.1,0.1,0.1,0,0.40,0.1,0.01,0,0,0,0,0,0.41,0.1,0.71
6,0.20,0.1,0.1,0.1,0,0.53,0.1,0.24,0,0,0,0,0,0.54,0.1,0.76
7,0.27,0.1,0.1,0.1,0,0.40,0.1,0.40,0,0,0,0,0,0.41,0.1,0.69
8,0.14,0.1,0.1,0.1,0,0.56,0.1,0.54,0,0,0,0,0,0.55,0.1,0.80

In [8]:
# prepare empty dataframe
df_targets = pd.DataFrame()

In [14]:
SIGMA_MAX = 3

In [17]:
# calculate bit one
df_targets["bit_1"] = 1 / (1 + (df.SIGMA/SIGMA_MAX))
df_targets["bit_2"] = 1 - df_targets["bit_1"]
df_targets

      bit_1     bit_2
0  0.934579  0.065421
1  0.949367  0.050633
2  0.955414  0.044586
3  0.937500  0.062500
4  0.917431  0.082569
5  0.923077  0.076923
6  0.937500  0.062500
7  0.917431  0.082569
8  0.955414  0.044586